.navigation > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: radial-gradient(#a2398272,#3e2026);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: larger;
  }

  .carousel-indicators li{
      width: auto;
      height: auto;
      text-indent: 0px;
      background-color: transparent;
      -webkit-text-fill-color: transparent !important;
      transform: none;
      transition: none;
  }
  
  li a {
    display: block;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(245, 176, 176, 0.238);
    margin: 10px;
    text-align: center;
    background : linear-gradient(rgb(0, 0, 162), rgb(248, 143, 143), rgb(0, 64, 255)) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s ease;
  }
  
  li a:hover:not(.active) {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.503);
    margin: 10px;
    text-align: center;
    /* background : linear-gradient(rgb(0, 0, 162), rgb(248, 143, 143), rgb(0, 64, 255)) ; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.15,1.15);
    text-decoration: none;
  }

  li.active > a {

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.503);
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.15,1.15);
    transition: 0.4s linear;
    
  }

  ul.carousel-indicators li.active{
    /* width: auto;
    height: auto;
    text-indent: 0px; */
    /* -webkit-text-stroke-width: 100px; */
    /* -webkit-text-stroke-color: rgb(255, 255, 255) !important;
    margin: 0px !important;
    text-align: center; */
    /* background : linear-gradient(rgb(0, 0, 162), rgb(248, 143, 143), rgb(0, 64, 255)); */
    /* background : yellow; */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent !important;
    transform: none;
    transition: none; */
    /* transition: .3s ease !; */
    background: transparent !important;
    transform: scale(1.15,1.15) !important;
    /* text-decoration: overline; */

  }
  
 /* li.active [aria-select='true'] a.active{ */
 a.active{
    /* background-color: #fff; */
  
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.503);
    /* margin: 10px; */
    text-align: center;
    background : linear-gradient(rgb(0, 0, 162), rgb(248, 143, 143), rgb(0, 64, 255)) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background-color: transparent; */
    transform: scale(1.15,1.15);
    text-decoration: dashed;
  }

  .carousel-inner{
    overflow: visible;
  }

  a.carousel-control-next{
    margin-right: 40px;
    transition:ease-in-out .45s;
  }
  a.carousel-control-prev{
    margin-left: 40px;
    transition:ease-in-out .45s;
  }

  a.carousel-control-next, a.carousel-control-prev{
    overflow: hidden;
    background-color: red;
    position: fixed;
    display: flex;
    flex-direction: column;
    /* left: 0; */
    /* display: flex; */
    /* flex: none; */
    /* margin: 45px; */
    width: auto;
    top: 50%;
    height: 15% !important;
    /* height: auto; */
    /* height: 15px !important; */
    /* bottom: 0; */
  }

  .carousel-control-prev-icon:hover{
    /* left:0.2px; */
    background-color: radial-gradient(#a2398272,#3e2026);
    transform: scale(1.2, 1.2);
    margin-right: 10px;
  }
  .carousel-control-next-icon:hover{
    /* left:0.2px; */
    background-color: radial-gradient(#a2398272,#3e2026);
    transform: scale(1.2, 1.2);
    margin-left: 10px;
  }
  
  .carousel-control-next-icon, .carousel-control-prev-icon{
    /* justify-self: center;
    justify-content: center;
    justify-items: center;
    align-items: center; */
    /* list-style-type: none; */
    /* margin-bottom: 100px; */
    position: fixed;
    padding: 30px;
    overflow: hidden;
    background-color: radial-gradient(#a2398272,#3e2026);
    transition:ease-in-out .345s;
    /* position: fixed; */
    /* width: 15px; */
    /* height: 15px !important; */
    /* object-fit: cover; */
    /* bottom: 0; */
    /* display: flex; */
    /* justify-content: space-around; */
    /* font-size: larger; */

  }


  /* .carousel-item .active{
    z-index: auto;
    border-color: transparent !important;
    height: 100% !important;
    border-color: transparent !important;
    background-color: red !important;
  } */

/* carousel-item active */