.navigation > ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: radial-gradient(#a2398272,#3e2026);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: larger;
}


li a {
  display: block;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(245, 176, 176, 0.238);
  margin: 10px;
  text-align: center;
  background : linear-gradient(rgb(0, 0, 162), rgb(248, 143, 143), rgb(0, 64, 255)) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  /* background-color: #fff; */

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.503);
  margin: 10px;
  text-align: center;
  background : linear-gradient(rgb(0, 0, 162), rgb(248, 143, 143), rgb(0, 64, 255)) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body{
  cursor: url(/src/images/giphy.gif), 10 10 pointer;	
}

@font-face {
  font-family: gradientico;
  src: url(/src/assets/fonts/gradientico/Gradientico.ttf);
}

@font-face {
  font-family: noisy-walk;
  src: url(/src/assets/fonts/noisy-walk/NoisyWalk.ttf);
}

.app {
  color: #fff;
  text-align: center;
  font-family: noisy-walk;
  /* background-color: rgb(228, 227, 227); */
  /* padding: 20px; */
  /* background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgb(255, 255, 255)), url("../src/images/giphy.gif"); */
  /* background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgb(251, 92, 92)), url("../src/images/giphy.gif"); */

  /* background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(251, 92, 92, 0.632)), url("../src/images/giphy.gif");
  background-position: center;
  background-color: transparent;
   */

   /* background: radial-gradient(#ee7652, #e73c7e, #23a5d5, #23d5ab); */
   /* background: repeating-radial-gradient(#a23982, #e73c7e, #a23982, #1f1013); */
   
   
   background: radial-gradient(#a23982,#3e2026);
   background-size: 400% 400%;
   animation: gradient 15s ease infinite;
   
  /* background-repeat: repeat-y; */
  /* background-position: 0%; */
  /* background-size: ; */
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.light {
  position: absolute;
  width: 0px;
  opacity: .75;
  background-color: white;
  box-shadow: #e9f1f1 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/* .backVideo{
  z-index: -1;
  display: flex;
  justify-content: center;
  align-self: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
} */


.pagination{
  color: #fff;
  align-self: center;
  position: fixed;
  bottom: 0;
  margin-top: auto;
}

@keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 0;}
/*   50%{top: 0vh; opacity: 1;} */
  50%{right: 0vw; opacity: 1;}
  75%{opacity: 0.2;}
  100%{top: -100vh; opacity: 0;}
}

.x1{
  -webkit-animation: floatUp 4s infinite linear;
  -moz-animation: floatUp 4s infinite linear;
  -o-animation: floatUp 4s infinite linear;
  animation: floatUp 4s infinite linear;
   -webkit-transform: scale(1.0);
   -moz-transform: scale(1.0);
   -o-transform: scale(1.0);
  transform: scale(1.0);
}

.x2{
  -webkit-animation: floatUp 7s infinite linear;
  -moz-animation: floatUp 7s infinite linear;
  -o-animation: floatUp 7s infinite linear;
  animation: floatUp 7s infinite linear;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  left: 15%;
}

.x3{
  -webkit-animation: floatUp 2.5s infinite linear;
  -moz-animation: floatUp 2.5s infinite linear;
  -o-animation: floatUp 2.5s infinite linear;
  animation: floatUp 2.5s infinite linear;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5);
  left: -15%;
}

.x4{
  -webkit-animation: floatUp 4.5s infinite linear;
  -moz-animation: floatUp 4.5s infinite linear;
  -o-animation: floatUp 4.5s infinite linear;
  animation: floatUp 4.5s infinite linear;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  left: -34%;
}

.x5{
  -webkit-animation: floatUp 8s infinite linear;
  -moz-animation: floatUp 8s infinite linear;
  -o-animation: floatUp 8s infinite linear;
  animation: floatUp 8s infinite linear;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
  left: -57%;
}

.x6{
  -webkit-animation: floatUp 3s infinite linear;
  -moz-animation: floatUp 3s infinite linear;
  -o-animation: floatUp 3s infinite linear;
  animation: floatUp 3s infinite linear;
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);
  left: -81%;
}

.x7{
  -webkit-animation: floatUp 5.3s infinite linear;
  -moz-animation: floatUp 5.3s infinite linear;
  -o-animation: floatUp 5.3s infinite linear;
  animation: floatUp 5.3s infinite linear;
  -webkit-transform: scale(3.2);
  -moz-transform: scale(3.2);
  -o-transform: scale(3.2);
  transform: scale(3.2);
  left: 37%;
}

.x8{
  -webkit-animation: floatUp 4.7s infinite linear;
  -moz-animation: floatUp 4.7s infinite linear;
  -o-animation: floatUp 4.7s infinite linear;
  animation: floatUp 4.7s infinite linear;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
  left: 62%;
}

.x9{
  -webkit-animation: floatUp 4.1s infinite linear;
  -moz-animation: floatUp 4.1s infinite linear;
  -o-animation: floatUp 4.1s infinite linear;
  animation: floatUp 4.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  left: 85%;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
